/* reset */
button,
fieldset,
input {
	all: unset;
}

iframe {
  width: 100%;
  height: 100%;

}

.DialogOverlay {
	animation: overlayShow 4s cubic-bezier(0.16, 1, 0.3, 1);
	background-color: #000000b3;
	inset: 0;
	position: fixed;
  z-index: 2000;
}

.DialogContent {
	animation: contentShow 4s cubic-bezier(0.16, 1, 0.3, 1);
	background-color: gray;
	border-radius: 1rem;
  overflow: hidden;
	box-shadow: 3px 3px 20px 3px #00000066;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
  z-index: 2020;
  max-height: 800px;
	height: 90vh;
  max-width: 640px;
	width: 90vw;
}


.DialogContent:focus {
	outline: none;
}

.header, .footer {
	background: white;
	padding: 1rem;
	margin: 0;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.header {
	top: 0;
	padding-top: 6rem;
}

.footer {
	bottom: 0;
	max-width: 95%;
	color: black;
	font-size: 1rem;
}



.closeButton {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #f26300;
  position: absolute;
  cursor: pointer;

  top: 1rem;
  right: 1rem;
  z-index: 2030;
}


@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
